@use '../mixins' as *;

/* GameContainerComponent styles */
app-game-container {
  display: block;
  position: relative;
  @include full-height;
  overflow: hidden;

  .screens-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .screen {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .slide-in {
    z-index: 1;

    @starting-style {
      display: block;
    }
  }

  .slide-out {
    z-index: 2;
  }

  :not(.disable-animations) .slide-in {
    animation: slideRight 0.6s ease both;
    will-change: transform;
  }

  :not(.disable-animations) .slide-out {
    animation: slideLeft 0.6s ease both;
    will-change: transform;
  }
}
